project_id = "lnhtlbatcufmsyoujuqh"

[api]
  enabled = true
  port = 54321
  schemas = ["public", "storage"]

[functions]
[functions.check-upcoming-classes]
  verify_jwt = true
[functions.db-operations]
  verify_jwt = true
[functions.auto-backup]
  verify_jwt = false
[functions.send-class-reminders]
  verify_jwt = true
[functions.cron-class-reminders]
  verify_jwt = false
[functions.secure-file-upload]
  verify_jwt = true
[functions.manual-credit-allocation]
  verify_jwt = true
[functions.stripe-webhooks]
  verify_jwt = false
[functions.generate-monthly-report]
  verify_jwt = true
[functions.cron-monthly-reports]
  verify_jwt = false
[functions.generate-referral-code]
  verify_jwt = true
[functions.pause-subscription]
  verify_jwt = true
[functions.send-overdraw-reminders]
  verify_jwt = true
[functions.cron-overdraw-reminders]
  verify_jwt = false
[functions.restore-class-credit]
  verify_jwt = true

[auth]
  enabled = true
  site_url = "http://localhost:5173"
  additional_redirect_urls = ["https://localhost:5173/login"]
